<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nem létező oldal</title>
</head>
<body>
<h1>Nem létező oldalra navigáltál</h1>
<h2><a href="/semmi">Menj vissza a kiinduló lapra</a></h2>
<h3>A hiba jellege: <span th:text="${error}"></span></h3>
<h3>Üzenet: <span>Biztos elírtad az URL-t menj vissza a kiinduló mezőre</span></h3>
<h3>Időpont: <span th:text="${#dates.format(timestamp, 'yyyy.MM.dd HH:mm')}"></span></h3>
<h3>Állapot: <span th:text="${status}"></span></h3>
<h3>Útvonal: <span th:text="${path}"></span></h3>
</body>
</html>
</body>
</html>